{% extends 'bootstrap/index.html' %}
{% load static %}
{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<h1 style="text-align: center">ProjectTeam</h1>
<div style="margin: auto; width: 80%;">
    <a href = "{% url 'projectteam_add' %}" class="btn btn-success" style="float: right; margin-bottom: 10px; margin-right: 10px;">Criar</a>
</div>
<div style="margin: auto; width: 80%; padding: 10px;">
    <table id="table" class="display" style="width:100%">
        <thead>
            <tr>
                {% for column in object_list.cols %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for projectteam in object_list.rows %}
                <tr>
                    <td>{{ projectteam.project }}</td>
                    <td>
                        <a href="{% url 'projectteam_update' projectteam.pk %}">Atualizar</a>
                        <a href="{% url 'projectteam_delete' projectteam.pk %}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$('#table').DataTable();
</script>
{% endblock %} 
